<html>
    <h1>Hi this is the create page</h1>
    <form action="/makeCat" method="POST">
        <input type="text" name="name" value="">
        <input type="submit" value="MAKETH A CAT!">
    </form>
</html>